<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite1" verbose="1" parallel="methods" data-provider-thread-count="3">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.epam.utils.listener.CustomListener"/>
    </listeners>
    <test name="HW-24" >
        <packages>
            <package name="com.epam" />
        </packages>
    </test>
</suite>